In [35]:
print("This is Hakeem-Ur-Rehman")

This is Hakeem-Ur-Rehman

In [36]:
"This is Hakeem-Ur-Rehman"

'This is Hakeem-Ur-Rehman'

In [37]:
'This is Hakeem-Ur-Rehman'

'This is Hakeem-Ur-Rehman'

#### Variables in Python
##### # How do I store the data?

In [38]:
var1 = "Hakeem"

In [39]:
var2 = 3

In [40]:
var3 = 3.4

In [41]:
var4 = True

In [42]:
var5 = 3+4j # write j with number to represent complex number

#### Data Types in Python

In [43]:
type(var1)

str

In [44]:
type(var2)

int

In [45]:
type(var3)

float

In [46]:
type(var4)

bool

In [47]:
type(var5)

complex

#### Operators in Python
##### 1. Arithmetic 2. Relational 3. Logical

In [48]:
# Arithmetic Operators

In [49]:
a = 20
b = 22

In [50]:
a + b

42

In [51]:
b - a

2

In [52]:
b / a

1.1

In [53]:
b * a

440

In [54]:
# Relational Operators

In [55]:
a >= b

False

In [56]:
a <= b

True

In [57]:
a == b

False

In [58]:
a < b

True

In [59]:
a != b

True

In [60]:
# Logical Operators (&, |)

In [61]:
a = True
b = False
a & b

False

In [62]:
a | b

True

In [63]:
a = True
b = True
a & b

True

#### Strings in Python

In [64]:
stra = 'This is Muhammad Amjad'

In [65]:
# Truple quotes are used to write multiple lines strings
strb = '''Hello Mr. 
              How are you'''

In [66]:
strc = "This is Hakeem-Ur-Rehman"

In [67]:
# 1st Position element
stra[0]

'T'

In [68]:
# Last position element
stra[-1]

'd'

In [69]:
# 5th and 6th position elements
# 5th position element included while 7th position element excluded
stra[5:7]

'is'

In [70]:
strb = '''Hello Mr. 
              How are you'''
# Because after 8th position we are on a new line line that's why it show \n
strb[7:12]

'r. \n '

In [71]:
len(stra)

22

In [72]:
stra.upper()

'THIS IS MUHAMMAD AMJAD'

In [73]:
strb.lower()

'hello mr. \n              how are you'

In [74]:
stra.title() # first alphabit of each word will be capital

'This Is Muhammad Amjad'

#### Data Structures in Python

##### Tuple, List, Dictionary, Set

##### #Tuple: Tuple is an ordered collection of elements enclosed within () --- Tuples are immutable means no changes can be done

In [75]:
tup1 = (2, 'a', False, "b", 22.8)
tup1

(2, 'a', False, 'b', 22.8)

In [76]:
# Tuples elements can be access like string
tup1[0]

2

In [77]:
tup1[-1]

22.8

In [78]:
tup1[2:4]

(False, 'b')

In [79]:
tup1[5] = 6 # Because tuples are immutable it will allow you to assign elements

TypeError: 'tuple' object does not support item assignment

#### # List: List is an ordered collection of elements enclosed with [] --- Lists are mutable

In [80]:
L1 = [1,'a', 3.4, "Hello", True]

In [81]:
L1[0]

1

In [82]:
# Changing / Replacing the first position element
L1[0]=5

In [83]:
L1

[5, 'a', 3.4, 'Hello', True]

In [84]:
# Adding an element in list
L1.append('Hakeem')

In [85]:
L1

[5, 'a', 3.4, 'Hello', True, 'Hakeem']

In [86]:
# Adding a new list inside a list
L1.append([1,2,3,4])

In [87]:
L1

[5, 'a', 3.4, 'Hello', True, 'Hakeem', [1, 2, 3, 4]]

In [88]:
# Accessing the elements of list
L1[6]

[1, 2, 3, 4]

In [89]:
L1[6][0]

1

In [90]:
L1[6][2]

3

In [91]:
# To delete the last element in the list
L1.pop()

[1, 2, 3, 4]

In [92]:
L1

[5, 'a', 3.4, 'Hello', True, 'Hakeem']

#### # Dictionary: Dictionary is an unordered collection of key-value pairs enclosed with {} --- Dictionary is mutable

#### KEY + VALUE

In [103]:
D1 = {"Apple":150, "Mango":100, "Orange":30}

In [104]:
# acessing all the keys
D1.keys()

dict_keys(['Apple', 'Mango', 'Orange'])

In [106]:
# Accessing all the values
D1.values()

dict_values([150, 100, 30])

In [107]:
# Accessing particular Value(s) of the dictionary
D1["Apple"]

150

In [110]:
# Changing the value of Apple
D1["Apple"] = 200

In [109]:
D1

{'Apple': 200, 'Mango': 100, 'Orange': 30}

#### # Set: Set is unordered and unindexed collection of elements enclosed with {} --- Dupicates are not allowed in set

##### unindexed means we cannot access the elements using index like in list and tuple

In [111]:
S1 = {1,"a",3.4}

In [112]:
S1

{1, 3.4, 'a'}

In [119]:
#  Dupicates are not allowed in set
S2 = {1,"a","a",3.4,3.4}

In [120]:
S2

{1, 3.4, 'a'}

In [123]:
# adding a new element in a set --- Remember order of the elements will be random; means added element position will be random
S2.add("Pakistan")

In [124]:
S2

{1, 3.4, 'Pakistan', 'a'}

In [127]:
# adding multiple elements in a set
S2.update([1,2,3,"Go"])

In [128]:
S2

{1, 2, 3, 3.4, 'Go', 'Pakistan', 'a'}

#### Flow Control Statements

In [129]:
a = 13
b = 16

In [132]:
# Use of "if" condition
if(b > a):
    print("B is greater than A")

B is greater than A

In [131]:
# Use of "if and else" condition
if (a > b):
    print("A is greater than B")
else:
    print("B is greater than A")

B is greater than A

In [136]:
# Use of "if, elseif and else" condtion
a = 5
b = 10
c = 15
if(a>b & b>c):
    print("A is the largest")
elif(b>a & b>c):
    print("B is the largest")
else:
    print("C is the largest")

C is the largest

In [137]:
# use of "if" condition and "in" keyword with tuple
tup1 = {"a", "b", "c", "d"}

In [141]:
if "a" in tup1:
    print("Yes, a Present")

Yes, a Present

In [142]:
if "e" in tup1:
    print("Yes: e Present")
else:
    print("NO: e absent")

NO: e absent

In [146]:
# Use of "if" with list
L1 = [5,10,15,20,25]

In [148]:
# if first element is 5 change it with 100
if L1[0]==5:
    L1[0]=100
L1

[100, 10, 15, 20, 25]

In [151]:
# Use of "if" with Dictionary
D1 = {"Apple":150, "Mango":100, "Orange":30}
# if the value of apple is 150 then subtract 20 from it's value
if D1["Apple"] == 150:
    D1["Apple"] = D1["Apple"] - 20
D1

{'Apple': 130, 'Mango': 100, 'Orange': 30}

#### # Looping Statements --- Looping statements are used to repeat a task multiple times

In [154]:
i = 1
while(i<=6):
    print(i)
    i = i+1

1
2
3
4
5
6

In [157]:
# Writing 2's table
i = 1
j = 2
while(i<=10):
    print(j, "*" , i, "=", j*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [159]:
# Create a list of 5 elemets and add 100 in each element using looping statement
L1 =[10,20,30,40,50]
i = 0
while i < len(L1):
    L1[i] = L1[i] + 100
    i = i +1
L1

[110, 120, 130, 140, 150]

###### For loop is used to iterate over a sequence (Tuple, List, Dictionary, ...)

In [161]:
L2 = ["Mango", "Orange", "Apple"]

In [167]:
for i in L2:
    print(i)

Mango
Orange
Apple

In [168]:
# Nested Loop
colors = ["green", "yellow", "pink", "black"]
items = ["book", "chair", "Table"]
for i in colors:
    for j in items:
        print(i,j)

green book
green chair
green Table
yellow book
yellow chair
yellow Table
pink book
pink chair
pink Table
black book
black chair
black Table

#### # Functions --- Function is a block of code which performs a specific task

In [169]:
def hello():
    print("Hello Hakeem")

In [170]:
hello()

Hello Hakeem

In [173]:
# Develop a function that add 10 into the input value 
def add10(x):
    return(10+x)

In [174]:
add10(30)

40

In [175]:
# Develop a function for finding odd and even numbers
def odd_even(x):
    if(x%2==0):
        print(x, "is even")
    else:
        print (x, "is odd")

In [176]:
odd_even(15)

15 is odd

In [177]:
odd_even(24)

24 is even

#### # Python Object Oriented Programming

##### We are surrounded with the OBJECTS such as Laptop, Cell Phones, Cars, Cycles etc.